* {
    margin: 0%;
    padding: 0%;

}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(imagens\fundo.jpeg);
    
}

.container {
    width: 400px;
    justify-content: center;
    display: flex;
    color: rgb(250, 11, 2);
    font-size: 20px;
    font-weight: bold;
    border-color: black;
    padding-bottom: 2%;
    
}

h1 {

    text-transform: uppercase;
}

.box {
    border-radius: 3%;
    width: 400px;
    min-height: 270px;
    background-image: url(imagens\imagem.jpeg);
    padding: 60px;
    border-style: double;
    border: 10px double red;

}

p {
    padding-top: 20px;
    font-size: 28px;
    
    color: rgb(221, 221, 31);
    margin-bottom:20%;
}

a {

    text-decoration: none;
    display: flex;
    justify-content: center;
   
}

button {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    font-family: arial;
    color: rgb(255, 255, 255) ;
    border-radius: 10px 5px 10px 5px;
    background-color: red;
    padding: 5px;
    justify-content: center;
    text-align: center;

}
.h1 {
    color: white;
}

