
* {
    margin: 0;
    padding: 0%;

}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/imagens/fundo.jpeg);
    background-attachment: fixed;
    background-size: 100%;
}

.container {
    width: 400px;    
    justify-content: center;
    display: flex;
    color: rgb(247, 18, 10);
    font-size: 20px;
    font-weight: bold;
    border-color: black;
    }

h1 {
    

    padding-bottom: 20%;
    text-transform: uppercase;
    color: white;
}

.box {
    border-radius: 3%;
    width: 350px;
    min-height: 100px;
    color: rgb(255, 255, 255);
    background-image: url(../../../imagens/imagem.jpeg);
    background-color: black;
    background-attachment: fixed;
    background-size: 100%;
    padding: 60px;
    border-style: double;
    align-items: center;
    border: 5px double rgb(255, 251, 251);
    padding-bottom:20%;
    border: 10px double red;

}

p {
    padding-top: px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(221, 221, 31);
}

button {
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: arial;
    color: rgb(255, 255, 255) ;
    border-radius: 10px 5px 10px 5px;
    background-color: red;
    
}
.botao{
    justify-content: center;
    text-align: center;
    padding-top: 60%;
    
}
.click {
padding-top: 50px;
text-align: center;
justify-content: center;
}

